
.auction-list-container {
    padding: 16px;
    
}
  
.auction-card {
    transition: transform 0.3s ease;
}
  
.auction-card:hover {
    transform: scale(1.02);
}

img {
    height: 100px;
    width: 100px;
}